h1 {
    color:rgb(78, 51, 30);
    font-family: Nunito Sans, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
h2 {
    color:rgb(77, 50, 30);
    font-family: Nunito Sans, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
a {color:rgb(92, 48, 48)}
body {
    color:rgb(105, 65, 41);
    font-size: 20px;
    line-height: 1.5;
    font-family: Nunito Sans, sans-serif;
}
h3 {
    text-align: center;
    font-style: oblique;
}
h4 {
    text-align: center;
    font-style: oblique;
}
.hlavicka {
    background-color: rgb(247, 232, 224);
    padding: 30px;
    text-align: center;
}
.omne {
    padding: 30px 70px 30px 70px;
    text-align: left;
}
.jaktodelame {
    background-color:rgb(214, 174, 120);
    padding: 30px 70px 30px 70px;
    text-align: center;
}
.kdojsme {
    padding: 30px 70px 30px 70px;
    text-align: center;
}
.spoluprace {
    background-color: rgba(188, 162, 86, 0.55);
    padding: 70px;
    text-align: center;
}
.zkusenosti {
    padding: 30px 70px 30px 70px;
    text-align: center;
}
.kontakt {
    background-color: rgb(214, 174, 120);
    padding: 70px;
    text-align: center;
}
.paticka {
    background-color: rgb(84, 83, 83);
    color: white;
    padding: 20px;
    text-align: center;
}
.foto-ja {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 90px;
    margin-bottom: 30px;
}
section {
    overflow: auto;
}